*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    background: linear-gradient(to right top, #2b2b2b,#383838,#454545,#525252,#616161);
    color: #fff;
    height: 100vh;
}

.container{
    width: 100%;
    height: 95vh;
    padding: 5px;
    display: flex;
}

.left, .right{
    flex-basis: 50%;
    padding: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left .box{
    height: 28vh;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
}

textarea:focus{
    background-color: #2a2a2a;
}

iframe{
    width: 100%;
    height: 100%;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 0px 0px 5px 5px;
}

label i {
    margin: 0 10px;
}

label{
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    height: 30px;
    border-radius: 5px 5px 0px 0px;

}

.fa-brands, .fa-solid{
    color: aquamarine;
}
